.Brand {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}
.bi-list {
  margin-left: 50px;
  font-size: 20px;
  color: gray;
}

.bi-search {
  font-size: 15px;
  margin-left: 30px;
  color: gray;
}

.search_input {
  font-size: 15px;
  color: gray;
  margin-left: 25px;
  font-style: regular;
  outline: none;
  border: none;
}

.store_name {
  font-size: 15px;
  margin-left: 200px;
}

.bi-chevron-down {
  margin-left: 3px;
  font-size: 11px;
}

.bi-envelope {
  margin-left: 400px;
  color: gray;
  font-size: 15px;
}

.bi-bell {
  margin-left: 50px;
  color: gray;
  font-size: 15px;
  font-style: bold;
}

.bi-power {
  margin-left: 50px;
  color: gray;
  font-size: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 50px;
  background-color: white;
}
