.active_menu_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.dashboard_content {
  width: 100%;
}

.top_cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sales_card {
  background-image: linear-gradient(
    to right,
    rgb(236, 182, 119),
    rgb(216, 117, 117)
  );
}

.returns_card {
  background-image: linear-gradient(
    to right,
    rgb(192, 194, 225),
    rgb(111, 109, 216)
  );
}

.revenue_card {
  background-image: linear-gradient(
    to right,
    rgb(152, 236, 156),
    rgb(71, 218, 96)
  );
}

.card {
  position: relative;
  width: 400px;
  height: 180px;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin: 5px;
  flex: 1 0 50%;
  box-shadow: 1px 0px 7px 0px gray;
}

.circle_img {
  position: absolute;
  right: 0;
  top: 0;
}

.innercard_container {
  padding: 20px;
}

.weekly_sales {
  font-weight: regular;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Ubuntu", sans-serif !important;
  font-stretch: normal;
}

.weekly_dollar {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  font-style: normal;
  font-family: "Ubuntu", sans-serif !important;
}

.active_menu_display {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.bi-house-door-fill {
  background-image: linear-gradient(
    to right,
    rgb(129, 181, 224),
    rgb(95, 95, 231)
  );
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -3px 5px 5px 0px lightgray;
}

@media only screen and (min-device-width: 550px) {
  .dashboard_content {
    width: 100%;
    margin: 10px;
  }
}
