.active_menu_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.dashboard_content {
  width: 100%;
}

.top_cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sales_card {
  background-image: linear-gradient(
    to right,
    rgb(216, 117, 117),
    rgb(236, 182, 119)
  );
}

.returns_card {
  background-image: linear-gradient(
    to right,
    rgb(111, 109, 216),
    rgb(192, 194, 225)
  );
}

.revenue_card {
  background-image: linear-gradient(
    to right,
    rgb(71, 218, 96),
    rgb(152, 236, 156)
  );
}

.card {
  width: 280px;
  height: 200px;
  text-align: center;
  border-radius: 5px;
  color: white;
  box-shadow: 1px 0px 7px 0px gray;
}

.innercard_container {
  padding: 50px;
}

.weekly_sales {
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-family: "Ubuntu", sans-serif !important;
  font-stretch: normal;
}

.weekly_dollar {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  font-style: normal;
  font-family: "Ubuntu", sans-serif !important;
}

.active_menu_display {
  margin-left: 10px;

  font-size: 20px;
  font-weight: bold;
}

.bi-house-door-fill {
  background-image: linear-gradient(
    to right,
    rgb(129, 181, 224),
    rgb(95, 95, 231)
  );
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -3px 5px 5px 0px lightgray;
}
