.Brand {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}
.bi-list {
  font-size: 15px;
  color: gray;
}

.store_name {
  font-size: 10px;
}

.bi-chevron-down {
  font-size: 7px;
}

.bi-envelope {
  color: gray;
  font-size: 13px;
}

.bi-bell {
  color: gray;
  font-size: 13px;
  font-style: bold;
}

.bi-power {
  color: gray;
  font-size: 13px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  background-color: white;
}

