/*======================== (MobileNavDrawer.css)*/

.mobile_sidebar {
  position: absolute;
  top: 49px;
  right: 0px;
  width: 150px;
  height: 100vh;
  background-color: white;
  padding: 20px;
  font-family: "Ubuntu", sans-serif !important;
  box-shadow: 0px 3px 5px -1px gray;
}

.menu_item_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.menu_item_container p {
  color: black;
  font-size: 16px;
  font-weight: regular;
}

.menu_item_container img {
  color: gray;
}

.svg_home,
.svg_orders,
.svg_products,
.svg_reports,
.svg_transactions {
  color: gray;
  padding: 7px;
  border-radius: 5px;
  box-shadow: -1px 2px 7px 1px lightgray;
}

.svg_home {
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(158, 250, 173),
    rgb(42, 218, 86)
  );
}
/*==============================================*/
