*{
    margin: 0;
    padding:0;

    font-family: 'Maven Pro', sans-serif;
}

.bi-list{
    margin-left: 20px;
    font-size: 20px;
    color: gray;
}

.bi-search{
    font-size: 10px;
    margin-left: 30px;
    color: gray;
}

.brand_name{
    font-size: 15px;
    font-style: bold;
    color: gray;
}
.search_input{
    font-size: 15px;
    color: gray;
    margin-left: 25px;
    font-style: regular;
}

.body_flex{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 6%;
    margin-top: 30px;
    color: gray;

}

.sale_card{
    margin-left: 50px;
    width: 280px;
    height: 200px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(216, 117, 117) , rgb(236, 182, 119));
    border-radius: 5px;
    color: white;
    box-shadow: 1px 0px 7px 0px gray;
}

.body_content{
    flex: 94%;
    background-color: rgb(241, 238, 235);
}

.bi-envelope{
    margin-left: 100px;
    color: gray;
    font-size: 15px;
}

.bi-bell{
    margin-left: 50px;
    color: gray;
    font-size: 15px;
    font-style: bold;
}

.bi-power{
    margin-left: 50px;
    color: gray;
    font-size: 15px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.store_name{
    font-size: 15px;
    margin-left: 200px;
}

.logo{
    width: 50px;
    height: 20px;
}

.bi-chat-left-fill{
    color: rgb(24, 219, 24);
}

.innercard_container{
    padding: 50px;
}

.weekly_sales{
    letter-spacing: 2px;
}

.weekly_dollar{
    margin-top: 10px;
    font-size: 30px;
    font-style: bold;
    letter-spacing: 3px;
}

.active_menu_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.active_menu_display{
   margin-left: 10px;
   
   font-size: 20px;
   font-weight: bold;
}

.bi-house-door-fill{
    background-image: linear-gradient(to right, rgb(129, 181, 224), rgb(95, 95, 231));
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -3px 5px 5px 0px lightgray;
}

.bi-chevron-down{
 margin-left: 3px;   
 font-size: 11px;
}

